

<form>
    <div  *ngIf="showMsg">
        <div>
            <p class="alert alert-success">
                <strong>Login Success!</strong>
            </p>
        </div>
    </div>
    <div  *ngIf="!showMsg">
        <div>
            <p class="alert alert-danger">
                <strong>Login Failed!</strong>
            </p>
        </div>
    </div>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" [(ngModel)]="email"><br>
    
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"  [(ngModel)]="password">
    
    <input type="submit" class="btn btn-success" value="Submit" (click)="login()">
    
</form> 


<!-- <form formGroup="form">

    <fieldset class="form-group">
        <input id="password"  name="weight" placeholder="{{ 'weight' | Local }}" class="form-control">
    </fieldset>
</form> -->