/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: lightblue;
    width: 100%;
    height: 100%;
}
form{
    padding: 20px;
    height: 100%;
    position: relative;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 20%;
    border-radius: 10px;
}
input{
    width: 100%;
}
.btn{
    margin-top: 10px;
}
input{
    display: block;
}